<div class="container">
<h1>My Personal Home Page</h1>
<p>You can see my blog below!</p>

<%= link_to "New Post", new_post_path, class: "btn btn-primary mb-3" %>


<%= render partial: "posts/post", collection: @posts, as: :post %>

<%= link_to "About", about_path %>

</div>